In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

C:\Users\ZEPHYRUS\AppData\Local\Temp\ipykernel_7864\2911283042.py:5: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv('quikr_car.csv')
df.sample(2)

                          name  company  year     Price  kms_driven fuel_type
520  Honda Amaze 1.2 VX i VTEC    Honda  2014  3,81,000   6,000 kms    Petrol
498        Hyundai Santro Xing  Hyundai  2003  1,20,000  50,000 kms    Petrol

In [3]:
report1 = ProfileReport(df)
report1.to_file(output_file = 'CarData.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
df.shape

(892, 6)

In [5]:
df.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# Data Cleaning

In [7]:
Backup = df.copy()

In [8]:
df = Backup.copy()

## Working on year column

In [9]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [10]:
# we have to check how much non numeric data is there

((892 - df[df['year'].str.isnumeric()].shape[0]) / 892) * 100

5.605381165919283

In [11]:
# so it's only about 5% so we can remove these 5% rows

df = df[df['year'].str.isnumeric()]
df.shape

(842, 6)

In [12]:
df['year'] = df['year'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

## Working on price column

In [13]:
df['Price'].info()

<class 'pandas.core.series.Series'>
Int64Index: 842 entries, 0 to 891
Series name: Price
Non-Null Count  Dtype
--------------  -----
842 non-null    object
dtypes: object(1)
memory usage: 13.2+ KB

In [14]:
(df[df['Price'] == 'Ask For Price'].shape[0]/df.shape[0]) * 100

2.7315914489311166

In [15]:
df = df[df['Price'] != 'Ask For Price']
df.sample(3)

,name,company,year,Price,kms_driven,fuel_type
668,Audi Q5 2.0 TDI quattro Premium Plus,Audi,2014,"23,90,000","34,000 kms",Diesel
245,Audi A4 1.8 TFSI Multitronic Premium Plus,Audi,2009,"6,99,000","47,000 kms",Petrol
219,Maruti Suzuki SX4,Maruti,2012,"2,65,000","46,000 kms",Diesel

In [16]:
df.shape

(819, 6)

In [17]:
import locale
from locale import atof
locale.setlocale(locale.LC_NUMERIC, '')

'English_India.1252'

In [18]:
df['Price'] = df['Price'].apply(atof)

In [19]:
df['Price'] = df['Price'].astype('int64')
df['Price'].info()

<class 'pandas.core.series.Series'>
Int64Index: 819 entries, 0 to 891
Series name: Price
Non-Null Count  Dtype
--------------  -----
819 non-null    int64
dtypes: int64(1)
memory usage: 12.8 KB

## Working on kms_driven Column

In [20]:
df['kms_driven'].info()

<class 'pandas.core.series.Series'>
Int64Index: 819 entries, 0 to 891
Series name: kms_driven
Non-Null Count  Dtype
--------------  -----
819 non-null    object
dtypes: object(1)
memory usage: 12.8+ KB

In [21]:
df['kms_driven'].unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms', '24,330 kms',
       '65,480 kms', '2,00,000 kms', '59,000 kms', '99,000 kms',
       '2,800 kms', '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms',
       '7,000 kms', '38,500 kms', '37,200 kms', '43,200 kms',
       '24,800 kms', '45,872 kms', '40,000 kms', '11,400 kms',
       '97,200 kms', '52,000 kms', '31,000 kms', '1,75,430 kms',
       '37,000 kms', '65,000 kms', '3,350 kms', '75,000 kms',
       '62,000 kms', '73,000 kms', '2,200 kms', '54,870 kms',
       '34,580 kms', '97,000 kms', '60 kms', '80,200 kms', '3,200 kms',
       '0,000 kms', '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms',
       '9,300 kms', '56,758 kms', '10,000 kms', '56,450 kms',
       '56,000 kms', '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms',
       '58,559 kms', '57,000 kms', '1,70,000 kms', '80,000 kms',
       '6,821 kms', '23,000 kms', '34,000 kms', '1,800 kms',
       '4,00,000 kms', '48,000 kms', '90,000 kms', '12,000 kms',
       '69,900 kms', '1,66,000 kms', '122 kms', '0 kms', '36,469 kms',
       '7,800 kms', '24,695 kms', '15,141 kms', '59,910 kms',
       '1,00,000 kms', '4,500 kms', '1,29,000 kms', '300 kms',
       '1,31,000 kms', '1,11,111 kms', '59,466 kms', '25,500 kms',
       '44,005 kms', '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [22]:
df[df['kms_driven'] == 'Petrol']

                          name    company  year   Price kms_driven fuel_type
890   Honda Amaze 1.2 E i VTEC      Honda  2014  180000     Petrol       NaN
891  Chevrolet Sail 1.2 LT ABS  Chevrolet  2014  160000     Petrol       NaN

In [23]:
df = df[df['kms_driven'] != 'Petrol']
df.shape

(817, 6)

In [24]:
df['kms_driven'] = df['kms_driven'].str.replace(' kms', '')

In [25]:
from locale import atoi

In [26]:
df['kms_driven'] = df['kms_driven'].apply(atoi)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [28]:
df.isnull().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     1
dtype: int64

## Working on fuel_type column

In [29]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [30]:
df = df.dropna()

In [31]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

In [32]:
df['fuel_type'].value_counts()

Petrol    428
Diesel    386
LPG         2
Name: fuel_type, dtype: int64

## Working on name column

In [33]:
df['name'].value_counts()
# These are too long name we will take only first 3 words

Honda City                                 13
Honda Amaze                                11
Maruti Suzuki Dzire                        10
Mahindra Scorpio S10                        9
Maruti Suzuki Swift Dzire VXi 1.2 BS IV     7
                                           ..
BMW 5 Series 520d Sedan                     1
Hyundai Verna 1.6 EX VTVT                   1
Honda Amaze 1.5 E i DTEC                    1
Mahindra XUV500 W8 AWD 2013                 1
Tata Zest XM Diesel                         1
Name: name, Length: 463, dtype: int64

In [34]:
df['name'].str.split().apply(lambda x : x[0 : 3]).str.join(" ")

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [35]:
df['short_name'] = df['name'].str.split().apply(lambda x : x[0 : 3]).str.join(" ")

In [36]:
df.sample(3)

,name,company,year,Price,kms_driven,fuel_type,short_name
29,Mahindra Bolero DI,Mahindra,2017,180000,23452,Diesel,Mahindra Bolero DI
65,Mahindra Scorpio SLE BS IV,Mahindra,2012,570000,19000,Diesel,Mahindra Scorpio SLE
186,Mahindra Quanto C8,Mahindra,2013,340000,37000,Diesel,Mahindra Quanto C8

In [37]:
df = df.reset_index(drop = True)

In [38]:
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [39]:
df[df['Price'] > 6e6]

,name,company,year,Price,kms_driven,fuel_type,short_name
534,Mahindra XUV500 W6,Mahindra,2014,8500003,45000,Diesel,Mahindra XUV500 W6

In [40]:
df = df[df['Price'] <= 6e6]
df.shape

(815, 7)

In [41]:
df = df.reset_index(drop = True)

In [42]:
df.to_csv('Cleaned_car.csv')

# EDA

In [43]:
df = pd.read_csv('Cleaned_car.csv', index_col = 0)

In [44]:
df.head(3)

,name,company,year,Price,kms_driven,fuel_type,short_name
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol,Hyundai Santro Xing
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel,Mahindra Jeep CL550
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol,Hyundai Grand i10

In [45]:
df['fuel_type'] = df['fuel_type'].replace({'Diesel':0,'Petrol':1,'LPG':2})

In [46]:
df.corr()

C:\Users\ZEPHYRUS\AppData\Local\Temp\ipykernel_7864\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                year     Price  kms_driven  fuel_type
year        1.000000  0.347764   -0.233699  -0.189378
Price       0.347764  1.000000   -0.149621  -0.217088
kms_driven -0.233699 -0.149621    1.000000  -0.247177
fuel_type  -0.189378 -0.217088   -0.247177   1.000000

# Model Building

In [92]:
x = df.drop(columns = ['Price', 'name'])
y = df['Price']

In [93]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe.fit(x[['company', 'short_name']])

OneHotEncoder()

In [139]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [113]:
x_test.head(3)

    company  year  kms_driven  fuel_type      short_name
586    Tata  2012       75000          0  Tata Sumo Gold
451   Honda  2015       55000          1      Honda City
813    Tata  2018       27000          0    Tata Zest XM

In [108]:
x_train['company'].unique()

array(['Hyundai', 'Maruti', 'Jeep', 'Toyota', 'Datsun', 'Chevrolet',
       'Skoda', 'Volkswagen', 'Tata', 'Renault', 'Honda', 'Mahindra',
       'Volvo', 'Hindustan', 'Fiat', 'Ford', 'Force', 'Nissan', 'Audi',
       'Mercedes', 'Mitsubishi', 'BMW', 'Mini', 'Jaguar'], dtype=object)

In [96]:
from sklearn.preprocessing import StandardScaler

In [140]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline

ct1 = make_column_transformer((StandardScaler(), [1, 2]), remainder = 'passthrough')
x_train = pd.DataFrame(ct1.fit_transform(x_train), columns = ['year', 'kms_driven', 'company', 'fuel_type', 'short_name'])
x_test = pd.DataFrame(ct1.transform(x_test), columns = ['year', 'kms_driven', 'company', 'fuel_type', 'short_name'])

In [118]:
x_train.head(3)

       year kms_driven  company fuel_type           short_name
0  -0.33423  -0.176384  Hyundai         1   Hyundai i20 Select
1  0.408673  -0.308423   Maruti         0  Maruti Suzuki Swift
2 -2.315305   0.413338   Maruti         1   Maruti Suzuki Alto

In [141]:
ct2 = make_column_transformer((OneHotEncoder(categories = ohe.categories_), [2, 4]), remainder = 'passthrough')
x_train = ct2.fit_transform(x_train)
x_test = ct2.transform(x_test)

In [121]:
x_train.shape

(652, 282)

In [98]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [216]:
lr = LinearRegression()
svr = SVR(kernel='rbf', C=1e3, gamma = 0.5, epsilon = 0.01)
knr = KNeighborsRegressor()
dtr = DecisionTreeRegressor(max_depth = 5)
lrr = LogisticRegression(solver = 'liblinear', penalty = 'l1')
rfr = RandomForestRegressor(n_estimators = 50, random_state = 3)
abr = AdaBoostRegressor(n_estimators = 50, random_state = 3)
br = BaggingRegressor(n_estimators = 50, random_state = 3)
gbdt = GradientBoostingRegressor(n_estimators = 50, random_state = 3)

In [122]:
rgs = {
    'LR' : lr,
    'SVR' : svr,
    'KN' : knr,
    'DT' : dtr,
    'LRR' : lrr,
    'RF' : rfr,
    'AdaBoost' : abr,
    'Bagging' : br,
    'ETR' : etr,
    'GBR' : gbdt
}

In [132]:
from sklearn.metrics import r2_score

In [164]:
r2 = list()
def test_accuracy(rg, x_train, y_train, x_test, y_test) :
    rg.fit(x_train, y_train)
    y_pred = rg.predict(x_test)
    
    r2 = r2_score(y_test, y_pred)
    
    return r2

In [165]:
for name, rg in rgs.items() :
    current_r2= test_accuracy(rg, x_train, y_train, x_test, y_test)
    
    r2.append(current_r2)

In [144]:
rgs.keys()

dict_keys(['LR', 'SVR', 'KN', 'DT', 'LRR', 'RF', 'AdaBoost', 'Bagging', 'ETR', 'GBR'])

In [166]:
pd.DataFrame({'Algo' : rgs.keys(), 'r2_score' : r2})

       Algo  r2_score
0        LR  0.709163
1       SVR -0.107997
2        KN  0.634913
3        DT  0.251512
4       LRR  0.212691
5        RF  0.616572
6  AdaBoost  0.219990
7   Bagging  0.615089
8       ETR  0.603936
9       GBR  0.575979

In [160]:
from sklearn.model_selection import GridSearchCV

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 94)

x_train = pd.DataFrame(ct1.fit_transform(x_train), columns = ['year', 'kms_driven', 'company', 'fuel_type', 'short_name'])
x_test = pd.DataFrame(ct1.transform(x_test), columns = ['year', 'kms_driven', 'company', 'fuel_type', 'short_name'])

x_train = ct2.fit_transform(x_train)
x_test = ct2.transform(x_test)

param_grid = {
    'n_estimators': [10,50,100],
    'criterion': ['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],
    'max_depth': [2,8,16,32,50,None],
    'min_samples_split': [2,4,6],
    'min_samples_leaf': [1,2],
    #'oob_score': [True, False],
    'max_features': ['auto','sqrt','log2'],    
    'bootstrap': [True, False],
    'warm_start': [True, False],
}

etr = ExtraTreesRegressor()
cv = GridSearchCV(etr,param_grid,cv=5, scoring = 'r2',n_jobs=-1)
cv.fit(x_train, y_train)
print(cv.best_score_)
print(cv.best_params_)

0.6805464886111594
{'bootstrap': False, 'criterion': 'poisson', 'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 10, 'warm_start': True}

In [233]:
for i in range(100) :
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = i)
    
    x_train = pd.DataFrame(ct1.fit_transform(x_train), columns = ['year', 'kms_driven', 'company', 'fuel_type', 'short_name'])
    x_test = pd.DataFrame(ct1.transform(x_test), columns = ['year', 'kms_driven', 'company', 'fuel_type', 'short_name'])
    
    x_train = ct2.fit_transform(x_train)
    x_test = ct2.transform(x_test)
    
    knr.fit(x_train, y_train)
    y_pred = knr.predict(x_test)
    print("For Random state : ", i, "--> R2_score : ", r2_score(y_test, y_pred))

For Random state :  0 --> R2_score :  0.7104527018386082
For Random state :  1 --> R2_score :  0.5387935432218587
For Random state :  2 --> R2_score :  0.6093936814254386
For Random state :  3 --> R2_score :  0.5899042654680664
For Random state :  4 --> R2_score :  0.7382940525757404
For Random state :  5 --> R2_score :  0.6420065465551057
For Random state :  6 --> R2_score :  0.5940285369814439
For Random state :  7 --> R2_score :  0.6224739931806094
For Random state :  8 --> R2_score :  0.646183167339005
For Random state :  9 --> R2_score :  0.710929005031454
For Random state :  10 --> R2_score :  0.5992161815594873
For Random state :  11 --> R2_score :  0.5747308802281321
For Random state :  12 --> R2_score :  0.5348146219527619
For Random state :  13 --> R2_score :  0.6323222755101208
For Random state :  14 --> R2_score :  0.6815573286256056
For Random state :  15 --> R2_score :  0.7695796591916331
For Random state :  16 --> R2_score :  0.49971200789947345
For Random state :  17 --> R2_score :  0.6259917026436888
For Random state :  18 --> R2_score :  0.6219294359023304
For Random state :  19 --> R2_score :  0.7025756594851811
For Random state :  20 --> R2_score :  0.6524763476350566
For Random state :  21 --> R2_score :  0.6314864414821766
For Random state :  22 --> R2_score :  0.8137140076197817
For Random state :  23 --> R2_score :  0.6759995145647262
For Random state :  24 --> R2_score :  0.5612800992617156
For Random state :  25 --> R2_score :  0.5185796352672443
For Random state :  26 --> R2_score :  0.6784135084959753
For Random state :  27 --> R2_score :  0.7780261284814396
For Random state :  28 --> R2_score :  0.6902633240885478
For Random state :  29 --> R2_score :  0.5990660655821533
For Random state :  30 --> R2_score :  0.5734786659767501
For Random state :  31 --> R2_score :  0.6230856287358768
For Random state :  32 --> R2_score :  0.7616529510251129
For Random state :  33 --> R2_score :  0.799836927931336
For Random state :  34 --> R2_score :  0.49947102462211024
For Random state :  35 --> R2_score :  0.7139228547724135
For Random state :  36 --> R2_score :  0.601191107459923
For Random state :  37 --> R2_score :  0.585255428522913
For Random state :  38 --> R2_score :  0.5652127706384007
For Random state :  39 --> R2_score :  0.7753448698328343
For Random state :  40 --> R2_score :  0.38229997124735104
For Random state :  41 --> R2_score :  0.6492221679823589
For Random state :  42 --> R2_score :  0.563723755666023
For Random state :  43 --> R2_score :  0.6690284130932136
For Random state :  44 --> R2_score :  0.709073304618207
For Random state :  45 --> R2_score :  0.6351221401668575
For Random state :  46 --> R2_score :  0.5679533325270648
For Random state :  47 --> R2_score :  0.5873643237762127
For Random state :  48 --> R2_score :  0.7340982242566183
For Random state :  49 --> R2_score :  0.7366120608186247
For Random state :  50 --> R2_score :  0.46955903082344996
For Random state :  51 --> R2_score :  0.6064450744262748
For Random state :  52 --> R2_score :  0.6830799609579773
For Random state :  53 --> R2_score :  0.6984389180523244
For Random state :  54 --> R2_score :  0.43062302915807815
For Random state :  55 --> R2_score :  0.7032791463490596
For Random state :  56 --> R2_score :  0.7037411953099142
For Random state :  57 --> R2_score :  0.6853915068881337
For Random state :  58 --> R2_score :  0.7626995664557383
For Random state :  59 --> R2_score :  0.4875106597219542
For Random state :  60 --> R2_score :  0.5406831846092548
For Random state :  61 --> R2_score :  0.502109082973671
For Random state :  62 --> R2_score :  0.43443783562425775
For Random state :  63 --> R2_score :  0.6723851019208338
For Random state :  64 --> R2_score :  0.5796543565601273
For Random state :  65 --> R2_score :  0.6130208054459025
For Random state :  66 --> R2_score :  0.5158003081852249
For Random state :  67 --> R2_score :  0.6483383436603032
For Random state :  68 --> R2_score :  0.5950485155557896
For Random state :  69 --> R2_score :  0.6989286232484797
For Random state :  70 --> R2_score :  0.7353433992165901
For Random state :  71 --> R2_score :  0.7198537205418637
For Random state :  72 --> R2_score :  0.6217428214855677
For Random state :  73 --> R2_score :  0.704683216339558
For Random state :  74 --> R2_score :  0.591588372729321
For Random state :  75 --> R2_score :  0.6134643948163852
For Random state :  76 --> R2_score :  0.4904245273565476
For Random state :  77 --> R2_score :  0.6429387755758278
For Random state :  78 --> R2_score :  0.562099089826585
For Random state :  79 --> R2_score :  0.5452896591741081
For Random state :  80 --> R2_score :  0.48160660978539616
For Random state :  81 --> R2_score :  0.552435963530379
For Random state :  82 --> R2_score :  0.6280983326835647
For Random state :  83 --> R2_score :  0.7109583904007687
For Random state :  84 --> R2_score :  0.7175236611136324
For Random state :  85 --> R2_score :  0.6697741764505509
For Random state :  86 --> R2_score :  0.6493138563591716
For Random state :  87 --> R2_score :  0.466267671860893
For Random state :  88 --> R2_score :  0.5916398949626982
For Random state :  89 --> R2_score :  0.6390678171401696
For Random state :  90 --> R2_score :  0.7335491547757417
For Random state :  91 --> R2_score :  0.5421937727028785
For Random state :  92 --> R2_score :  0.656498156858113
For Random state :  93 --> R2_score :  0.4672581299268316
For Random state :  94 --> R2_score :  0.6111735874442503
For Random state :  95 --> R2_score :  0.5789116129229159
For Random state :  96 --> R2_score :  0.6031566528668342
For Random state :  97 --> R2_score :  0.7350804374544464
For Random state :  98 --> R2_score :  0.6367183430671408
For Random state :  99 --> R2_score :  0.6066928936075969

In [223]:
type(rg)

sklearn.ensemble._gb.GradientBoostingRegressor

## Final model

In [234]:
from sklearn.linear_model import RidgeCV
from sklearn.svm import LinearSVR
from sklearn.ensemble import StackingRegressor

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 27)

x_train = pd.DataFrame(ct1.fit_transform(x_train), columns = ['year', 'kms_driven', 'company', 'fuel_type', 'short_name'])
x_test = pd.DataFrame(ct1.transform(x_test), columns = ['year', 'kms_driven', 'company', 'fuel_type', 'short_name'])
    
x_train = ct2.fit_transform(x_train)
x_test = ct2.transform(x_test)

estimators = [('m1', RidgeCV()), 
              ('m2', LinearSVR()), 
              ('m3', ExtraTreesRegressor()), 
              ('m4', LinearRegression()), 
              ('m5', KNeighborsRegressor(n_neighbors = 5))]

reg = StackingRegressor(estimators = estimators, final_estimator = RandomForestRegressor(n_estimators = 10,random_state = 42))

reg.fit(x_train, y_train)

StackingRegressor(estimators=[('m1', RidgeCV()), ('m2', LinearSVR()),
                              ('m3', ExtraTreesRegressor()),
                              ('m4', LinearRegression()),
                              ('m5', KNeighborsRegressor())],
                  final_estimator=RandomForestRegressor(n_estimators=10,
                                                        random_state=42))

In [235]:
y_predf = reg.predict(x_test)

r2_score(y_test, y_predf)

0.7612246948230311

In [236]:
etr.fit(x_train, y_train)
r2_score(y_test, etr.predict(x_test))

0.8704363640281197